USE [master]
GO
/****** Object:  Database [db_AgenciaCarros]    Script Date: 8/03/2025 11:56:09 ******/
CREATE DATABASE [db_AgenciaCarros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_AgenciaCarros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_AgenciaCarros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_AgenciaCarros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_AgenciaCarros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_AgenciaCarros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_AgenciaCarros]
GO
/****** Object:  Table [dbo].[tblClientes]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVehiculos]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVehiculos](
	[VehiculoID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVentas]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVentas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NULL,
	[ClienteID] [int] NULL,
	[FechaVenta] [date] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_DATOS_CLIENTE_PRECIOS]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_DATOS_CLIENTE_PRECIOS] AS
select 
c.Nombre,
c.Apellido,
vh.Precio
from tblClientes c
inner join tblVentas v
on c.ClienteID = v.ClienteID
inner join tblVehiculos vh
on v.VehiculoID = vh.VehiculoID
where vh.Precio > 20000;
GO
/****** Object:  View [dbo].[VW_VENTA_TOTAL_CLIENTES]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_VENTA_TOTAL_CLIENTES] AS
select 
C.Nombre,
C.Apellido,
sum(v.Monto) as MONTO_VENDIDO
from tblClientes c
inner join tblVentas v
on c.ClienteID = v.ClienteID
group by c.Nombre,c.Apellido;
GO
/****** Object:  View [dbo].[VW_VENTA_CLIENTE_VEHICULO]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_VENTA_CLIENTE_VEHICULO] AS
select 
v.ClienteID,
c.Nombre,
c.Apellido,
v.VehiculoID,
vh.Marca,
vh.Modelo,
vh.Precio,
v.FechaVenta,
v.Monto
from tblClientes c
inner join tblVentas v
on c.ClienteID = v.ClienteID
inner join tblVehiculos vh
on v.VehiculoID = vh.VehiculoID;
GO
/****** Object:  View [dbo].[VW_CONTEO_VENTAS]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_CONTEO_VENTAS] AS
select 
c.Nombre,
c.Apellido,
count (v.VentaID) as NUMERODECOMPRADOR
from tblClientes c
inner join tblVentas v
on c.ClienteID= v.ClienteID
group by c.Nombre, c.Apellido
having
count (v.VentaID) > 1;
GO
/****** Object:  View [dbo].[VW_DATOS_VEHICULO]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_DATOS_VEHICULO] AS
SELECT TOP 100 PERCENT *
FROM tblVehiculos
WHERE Estado = 'Disponible'
ORDER BY Precio ASC;
GO
SET IDENTITY_INSERT [dbo].[tblClientes] ON 

INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (1, N'Juan', N'Pérez', N'juan.perez@example.com', N'1234567890', N'Activo')
INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (2, N'María', N'González', N'maria.gonzalez@example.com', N'0987654321', N'Activo')
INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (3, N'Luis', N'Fernández', N'luis.fernandez@example.com', N'2345678901', N'Activo')
SET IDENTITY_INSERT [dbo].[tblClientes] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVehiculos] ON 

INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (1, N'Toyota', N'Corolla', 2020, CAST(20000.00 AS Decimal(18, 2)), N'Disponible')
INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (2, N'Honda', N'Civic', 2019, CAST(22000.00 AS Decimal(18, 2)), N'Disponible')
INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (3, N'Ford', N'Focus', 2021, CAST(21000.00 AS Decimal(18, 2)), N'Disponible')
SET IDENTITY_INSERT [dbo].[tblVehiculos] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVentas] ON 

INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (1, 1, 1, CAST(N'2023-01-15' AS Date), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (2, 2, 2, CAST(N'2023-01-20' AS Date), CAST(22000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (3, 3, 3, CAST(N'2023-01-25' AS Date), CAST(21000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tblVentas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblClien__A9D10534C8A4A1D5]    Script Date: 8/03/2025 11:56:09 ******/
ALTER TABLE [dbo].[tblClientes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[tblClientes] ([ClienteID])
GO
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[tblVehiculos] ([VehiculoID])
GO
/****** Object:  StoredProcedure [dbo].[ups_actualizar_vehiculos]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		WALDER MAYEN JUAN
-- Create date: 08/03/2025
-- Description:	ACTUALIZAR DATOS VEHICULOS DE LA TABLA VEHICULOS
-- ============================================
CREATE PROCEDURE [dbo].[ups_actualizar_vehiculos]
	@VehiculoID int ,
	@Marca varchar (30),
	@Modelo varchar (30),
	@Año int ,
	@Precio decimal (10,2),
	@Estado varchar (30)
AS
BEGIN
	
	SET NOCOUNT ON;
	update tblVehiculos
	set
	Marca = @Marca,
	Modelo = @Modelo,
	Año = @Año,
	Precio = @Precio,
	Estado = @Estado
	where VehiculoID = @VehiculoID;

    
END
GO
/****** Object:  StoredProcedure [dbo].[ups_crear_vehiculo]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		WALDER MAYEN JUAN
-- Create date: 08/03/2025
-- Description:	CREAR DATOS VEHICULOS DE LA TABLA VEHICULOS
-- ============================================
CREATE PROCEDURE [dbo].[ups_crear_vehiculo]
	
	@Marca varchar (30),
	@Modelo varchar (30),
	@Año int ,
	@Precio decimal (10,2),
	@Estado varchar (30)

AS
BEGIN
	
	SET NOCOUNT ON;
	insert into tblVehiculos
	(
	Marca,
	Modelo,
	Año,
	Precio,
	Estado
	)
	values
	(
	@Marca,
	@Modelo,
	@Año,
	@Precio,
	@Estado
	)
   
END

GO
/****** Object:  StoredProcedure [dbo].[ups_eliminar_vehiculos]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		WALDER MAYEN JUAN
-- Create date: 08/03/2025
-- Description:	ELIMINAR DATOS VEHICULOS DE LA TABLA VEHICULOS
-- ============================================
CREATE PROCEDURE [dbo].[ups_eliminar_vehiculos]
	(@VehiculoID INT)
AS
BEGIN
	
	SET NOCOUNT ON;
	delete tblVehiculos
	where VehiculoID = @VehiculoID;
    
END

GO
/****** Object:  StoredProcedure [dbo].[ups_mostrar_vehiculos]    Script Date: 8/03/2025 11:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		WALDER MAYEN JUAN
-- Create date: 08/03/2025
-- Description:	MOSTRAR DATOS VEHICULOS DE LA TABLA VEHICULOS
-- =============================================
CREATE PROCEDURE [dbo].[ups_mostrar_vehiculos]
	
AS
BEGIN
	
	SET NOCOUNT ON;
	select * from tblVehiculos;
    
END

GO
USE [master]
GO
